* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Section */
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: black;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.logo span {
  color: red;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}
.nav-links a:hover {
  color: red;
}

.join-btn {
  padding: 10px 22px;
  border: none;
  background: red;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.join-btn:hover {
  background: white;
  color: black;
}

.hero {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./Assets/images/herobg.jpg");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-card {
  text-align: center;
  color: white;
  max-width: 600px;
}

.hero-card h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero-card p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.start-btn {
  padding: 12px 28px;
  background: red;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.start-btn:hover {
  background: white;
  color: black;
}

.learn-btn {
  padding: 12px 28px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.learn-btn:hover {
  background: white;
  color: black;
}

/* Program-section */
.program-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./Assets/images/programbg.jpg");
  padding: 100px 8%;

  color: white;
  background-size: cover;
  background-position: center;
}

.section-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 60px;
}

.feature-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.feature-card {
  background: #1a1a1a;
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;

  transition: all 0.4s ease;
}

.feature-card p {
  margin-top: 15px;
  line-height: 1.6;
}

.feature-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 10px 30px rgba(255, 0, 0, 0.4);
}

\ .feature-card h3 {
  font-size: 22px;
}

/* Membership Section */
.membership {
  padding: 100px 8%;
  background: black;
  color: white;
  text-align: center;
}

.membership-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 35px;
  margin-top: 60px;
}

.plan-card {
  background: #1a1a1a;
  padding: 45px 30px;
  border-radius: 12px;
  transition: 0.4s;
}

.plan-card h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.plan-card h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.plan-card span {
  font-size: 16px;
  color: #bbb;
}

.plan-card ul {
  list-style: none;
  margin-bottom: 25px;
}

.plan-card ul li {
  margin: 10px 0;
}

.plan-card button {
  padding: 12px 28px;
  border: none;
  background: red;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.plan-card button:hover {
  background: white;
  color: black;
}

.popular {
  transform: scale(1.05);
  border: 2px solid red;
}

.plan-card:hover {
  transform: translateY(-12px);
}

/* Contact Section  */
.contact {
  padding: 100px 8%;
  background: #0f0f0f;
  color: white;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 50px;
  margin-top: 60px;
}

.contact-info h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 18px;
  line-height: 1.6;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border: none;
  border-radius: 6px;
  background: #1a1a1a;
  color: white;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}


.contact-form button {
  padding: 14px;
  border: none;
  background: red;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: white;
  color: black;
}
